<li class="grid__item scroll-trigger animate--slide-in">
  <a class="flex" href="https://tryscent.co/collections/25-edp">
    <video
      autoplay
      muted
      loop
      class="w-full h-auto rounded-xl"
      src="https://cdn.shopify.com/videos/c/o/v/a9c75aad095c437ba9746b1c89a306ee.mp4"></video>
  </a>
</li>